const winston = require('winston');

exports.rootdir = "/home/hayashis/git";

//exports.batch_size =  1024*1024*1024;
exports.batch_size =  1024*1024*10;
//exports.batch_size =  1024*1024;
exports.sqlite_path = "/home/hayashis/autopass.sqlite";

exports.logger = {
    winston: {
        //hide headers which may contain jwt
        //requestWhitelist: ['url', /*'headers',*/ 'method', 'httpVersion', 'originalUrl', 'query'],
        transports: [
            //display all logs to console
            new winston.transports.Console({
                timestamp: function() {
                    var d = new Date();
                    return d.toString(); 
                },
                level: 'debug',
                colorize: true
            }),
        ]
    },
}

